*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: #0b0b0b;
    width: 100%;
    height: 100vh;
    color: #c6c6c6;
    font-size: 16px;
}

.container {
    background-color: #0b0b0b;
    width: 80%;
    padding: 2rem;
    margin: 0 10% 0 10%;
}

.grid-container {
    display: grid;
    width: 80vw;
    grid-template: 50px 300px 300px 700px 250px/ 1fr 1fr;
    column-gap: 50px;
}

h1 {
    font-weight: bold;
    padding: 5px 0 0;
    margin: 0px;
}

h2 {
    color: #42c093;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    text-decoration-color: #42c093;
    text-underline-offset: 3px;
}

.highlight-green {
    color: #42c093;
}

.header {
    grid-column: span 2;
}

.flex-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me {
    display: grid;
    width: 80vw;    
    grid-column: span 2;
    justify-items: center;
    text-align: justify;
    align-items: center;
    padding: 10px 10% 100px 10%;
}

.profile-img {
    height: 200px;
    width: 200px;
    justify-content: center;
    border-radius: 50%;
}

.experience {
    display: grid;
    justify-self: end;
    text-align: end;
}

.tech-stack {
    display: grid;
}

.hobbies {
    display: grid;
    width: 80vw;    
    grid-column: span 2;
    justify-items: center;
    padding: 10px 10% 100px 10%;
}

.music > img {
    height: 300px;
    border-radius: 5%;
    float: left;
    margin-top: 20px;
    padding-right: 10px;
}

.music > p {
    float: right;
    padding-top: 90px;
    justify-content: center;
}

.sports > img {
    height: 300px;
    border-radius: 5%;
    float: right;
    margin-top: 20px;
    padding-left: 10px;
}

.sports > p {
    float: left;
    padding-top: 90px;
    justify-content: right;
}

.hobby-title {
    font-size: 1.5rem;
}

.contact-me {
    display: grid;
    width: 80vw;    
    grid-column: span 2;
    justify-items: center;
    text-align: center;
    padding: 10px 10% 100px 10%;   
}

.contact-picture {
    float: left;
}

.contact-me p {
    float: right;
    padding-top: 90px;
    text-align: left;
}

.footer {
    display: grid;
    position: fixed;
    width: 80wv;
    bottom: 0;
    z-index: 100;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .container {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 40px;
    }

    .grid-container {
        grid-template: auto auto auto auto auto/ 1fr 1fr;
    }

    .hobby-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hobby-box p {
        padding-top: 10px;
    }

    .sports > img {
        order: -1
    }

    .contact-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 767px) {
    
    .container {
        font-size: 2rem;
    }
    
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .flexbox-header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        margin: 0;
    }

    svg {
        height: 32px;
        width: 32px;
    }

    .header-logo{
        display: none;
    }

    .experience {
        justify-self: center;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .tech-stack {
        justify-self: center;
        text-align: center;
        padding-bottom: 30px;
    }

    .hobbies {
        justify-self: center;
        text-align: center;
        padding-bottom: 30px;
    }

    .hobby-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hobby-box > p {
        padding-top: 10px;
    }

    .sports > img {
        order: -1
    }

    @media (max-width: 576px) {
        
    }
}