@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: #8D7B68;
    color: #F1DEC9;
    text-align: justify;
}
a {
    text-decoration: none;
    color: #F1DEC9;
}
a:hover {
    color: #C8B6A6;
    text-decoration: underline;
    font-weight: bold;
}
img {
    max-height: 250px;
}